@mixin box-shadow{
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(31,56,88,0.08);
    border-radius: 3px;
}
.index-footer{
    margin:32px 0;
}
.list{
    width:100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    .lastest-news{
        width: 850px;
        height:100%;
        @include box-shadow;
    }
    .ad{
        width: 310px;   
        height:100%;
        a{
            display: block;
            cursor: pointer;
            height: 140px;
            text-align: center;
            line-height: 140px;
            @include box-shadow;
            img{
                width: 260px;
                vertical-align: middle;
            }
        }
        a:nth-child(1){
            margin-bottom:20px;
        }
    }
}