
#header{
    width:100%;
    background-color: #2C2F33;
    height: 52px; 
    .head-menu{
        height:100%;
        float: left;
        display: flex;
        align-items: center;
        a{
            height:20px;
            img{
                display:block;
                height:20px
            }
        }
        .line{

            color: white;
            font-style: normal;
            font-size: 20px;
            line-height: 52px;
            margin: 0 10px;
            opacity: 0.8
        }
        .title{
            color: white;
            font-style: normal;
            font-size: 14px;
            line-height: 54px;
            opacity: 0.8;
        }
        ul{
            display: flex;
                a{
                    font-size: 14px;
                    color: #fff;
                    opacity: 0.8;
                    filter: alpha(opacity=80);
                    line-height: 52px;
                    padding: 10px 15px;
                    margin-left: 4px;
                    align-items: center;
                }
                a:hover{
                    color: #F37327;
                    opacity: 1;
                    text-decoration:none;
                }
                .active{
                    color: #F37327;
                }
            
        }
    }
    .login-tips{
        float: right;
        line-height: 52px;
        color: #fff;
        text-align: right;
        opacity: .8;
        a{
            color: #fff;
            font-family: PingFangSC-Regular;
        }
    }
    
}
