.search-box{
    width: 490px;
    height: 60px;
    line-height: 60px;
    position: relative;
    border: 0px;
    background: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .search-mask {
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        opacity: 0.1;
        z-index:0;
    }
    input{
        width: 368px;
        height: 40px;
        box-sizing: border-box;
        border:0;
        border-radius: 3px;
        padding-left:15px;
        z-index: 9
    }
    
    input::-webkit-input-placeholder{
        color: rgba(31,56,88,0.30);
        line-height: 20px;
        position: absolute;
        left: 18px;
    }
    button{
        color: #fff;
        background: #F37327;
        font-size: 14px;
        font-family: PingFangSC-Regular;
        width: 92px;
        height: 40px;
        border:0;
        border-radius: 3px;
        z-index: 9
    }
}